.parallax {
    position: static;
}

.parallax-container {
    height: "400px";
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

* {
    font-family: 'Rubik Mono One', sans-serif;
}

#logo {
    font-family: 'Lobster', cursive;
}

#about {
    font-family: 'Fjalla One', sans-serif;
    font-size: 18pt;
}